<!doctype html>
<html lang="en">
    <header style="text-align: center" class="header">
        <h1 class="header-title">
            <a href="https://www.cicadahub.dev/">Abraham Hernandez</a>
        </h1>
        <nav class="header-nav">
            
            <a href="https://www.cicadahub.dev/about">about</a>
            
            <a href="https://www.cicadahub.dev/education">education</a>
            
            <a href="https://www.cicadahub.dev/work">work</a>
            
            <a href="https://www.cicadahub.dev/contact">links</a>

            <a href="https://www.cicadahub.dev/fun">fun</a>
            
        </nav>
    </header>
