<div class="container_post">
    <link rel="stylesheet" href="{{ '/assets/style.css' | relative_url }}">
    {%- include header_nav.html -%}
    <link rel="stylesheet" href="{{ '/assets/styles/pages.css' | relative_url }}">

    {% if content contains 'µ#' or 'µ;;' or 'µµ' -%}
        {{- content
            | replace: 'µ#', '<sup>[' | replace: '#µ', ']</sup>'
            | replace: 'µ;;', '<b style="text-align: center;">' | replace: ';;µ', '</b>'
            | replace: "µµ", "&emsp;" }}
    {%- else -%}
        {{- content -}}
    {%- endif -%}
</div>

{%- include foot.html -%}
