---
layout: pages
---

<div class="content post">
    <h1 style="text-align:center;text-decoration:underline">{{ page.title }}</h1>
    <time>{{ page.date | date_to_string }}</time>
    <link rel="stylesheet" href="{{ '/assets/styles/posts.css' | relative_url }}">

    
    {%- if content contains 'µ#' or 'µ;;;' or 'µµ' -%}
        {{- content
            | replace: 'µ#', '<sup>[' | replace: '#µ', ']</sup>'
            | replace: 'µ;;', '<b>' | replace: ';;µ', '</b>'
            | replace: "µµ", "&emsp;" }}
    {%- else -%}
        {{- content -}}
    {%- endif -%}

</div>
